<div id="page"></div>

<script type="underscore/template" id="pageViewTemplate">
<div class="row blue lighten-4">
    <div class="col s8 offset-s2">
        <h1 class="card-panel blue white-text" >Am I Right? </h1>

        <div id="inputQuestion"></div>

        <ul id="questions"></ul>

        <div id="outputQuestion"></div>

        <ul id="answers"></ul>
        </div>
    </div>
        <canvas id="myChart" class" white " max-width="200" max-height="200"></canvas>

</script>



<script type="underscore/template" id="inputView">
    <textarea class="question white" placeholder="Write your question here"></textarea>
    <br/>
    <div class="answers blue lighten-5">
        <input type="text" class="answer" placeholder="Answer here"></textarea>
        <input type="text" class="answer" placeholder="Answer here"></textarea>
    </div>
    <br/>
    <button class="waves-effect waves-light btn blue darken-2 submit">Submit</button>
    <button class="waves-effect waves-light btn blue darken-2 newAnswer">Add a new answer</button>

</script>

<script type="underscore/template" id="chartView"></script>
